html {
background-image: url("background.jpg");
background-repeat : no-repeat;
height: 500px;
background-size: cover;
font-family: 'Poppins', sans-serif;
}

body {
  background-color:rgba(0, 0, 0, 0.5);
  width: 1000px;
  padding: 100px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
}

h1 {
  color: #00dd00;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  display: inline-block;
  margin-bottom: 0;
}

p {
  color: white;
  margin: 2px;

}

.logos{
  text-align: center;
}

.logo{
height: 110px;
margin-bottom: 0;
}

.Pulsanti {
  background: #00dd00;
  text-align: center;
  margin: auto;
  margin-top: 0;
  padding: 10px;
}

.Monopattini{
  margin-top: 5px:
  padding: 5px;
  color: white;

}

.batterystatus {
  height: 30px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.green  {
  background-color: #1ec31e;
  width: 600px;

}

.red {
  background-color: #be4141;
  width: 150px;

}

.yellow {
  background-color: #f5b453;
  width: 350px;

}
